.avail_game{
    position: relative; 
    width: 50%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 30px auto;
    color:white;
    outline:2px solid grey;
}
.heading{
    font-weight: bolder;
    display: inline;
}
.sorryMessage{
    font-weight: bolder;
    color:blue;
}